@mixin centrar($ancho,$justificado,$centrado) {
    width: $ancho;
    justify-content: $justificado;
    align-items: $centrado;
}

.pie {
    display: flex;
    flex-direction: column;
    @include centrar(100%,center,center);
    background-color: rgb(212, 212, 212);
    background-image: linear-gradient(to top, rgb(212, 212, 212), rgb(212, 212, 212), rgb(80, 80, 80));
    &__logo {
        width: 8%;
        margin: 10px 0;
    }
    &__datos {
        font-size: 1.2rem;
        letter-spacing: 1px;
        margin-bottom: 10px;
    }
}

/* ---------------------------------------------------------------- MEDIA QUERY HASTA 512PX */

@media screen and (max-width: 512px) {

    .pie {
        &__logo {
            width: 25%;
        }
        &__datos {
            font-size: 1rem;
            letter-spacing: auto;
        }
    }
}